@keyframes piscar {

    0%, 90%, 100% {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(0.1);
    }

}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.assistente {
    text-align: center;
}

.rosto {
    width: 680px;
    height: 680px;

    background: #222;

    border-radius: 50%;

    position: relative;

    margin: 0;

   
}

.olho {
    position: absolute;

    width: 90px;
    height: 120px;

    background: white;

    border-radius: 50%;

    top: 180px;

    animation:piscar 4s infinite;
}

.olho-esquerdo {
    left: 240px;
  
}

.olho-direito {
    right: 250px;
    
}

.h2 {
    margin: 10px 0 15px;
    left: 350px;
}

button {
    position: absolute;
    padding: 12px 25px;
    top: 400px;

    z-index: 10;

    font-size: 18px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}